/*----------------FaceDetect.js-------------- */
.face_container{
    display: flex ;
    justify-content: center;
    align-items: center ;
    background-color: black ;
    height: calc(100vh - 60px);
}



/*--------------- Navbar.js----------------- */
/* active nav Link from navbar */

.activeLink{
    color: orange !important;
    border-bottom: 2px solid orange;
}